<?xml version="1.0" encoding="US-ASCII"?>
<!--
 |  Oracle Deutschland GmbH
 |
 |  This software is the confidential and proprietary information of
 |  Oracle Corporation. ("Confidential Information").  You shall not
 |  disclose such Confidential Information and shall use it only in
 |  accordance with the terms of the license agreement you entered
 |  into with Oracle.
 |
 |  ORACLE MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF THE
 |  SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 |  IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 |  PURPOSE, OR NON-INFRINGEMENT. ORACLE SHALL NOT BE LIABLE FOR ANY DAMAGES
 |  SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR DISTRIBUTING
 |  THIS SOFTWARE OR ITS DERIVATIVES.
 |
 |  Copyright &#169; 2021. All Rights reserved
-->
<chapter xmlns   ="http://docbook.org/ns/docbook"
         xmlns:xl="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xml:id  ="config"
         xml:lang="en"
         version ="5.0">
  <title>Configuring the OIG Provisioning Connector</title>
  <para>
    While creating an application, you must configure connection-related parameters that the connector uses to connect Oracle Identity Governance with your target system and perform connector operations.
    In addition, you can view and edit attribute mappings between the process form fields in Oracle Identity Governance and target system columns, predefined correlation rules, situations and responses, and reconciliation jobs.
  </para>
  <para>
    This section contains the following topics:
  </para>
  <itemizedlist>
    <listitem>
      <link linkend="config-bcp">Basic Configuration Parameters</link>
      <para/>
    </listitem>
    <listitem>
      <link linkend="config-asp">Advanced Setting Parameters</link>
      <para/>
    </listitem>
    <listitem>
      <link linkend="config-pre">Creating an Application By Using the Connector</link>
    </listitem>
  </itemizedlist>
  <xi:include href="config/bcc.xml"/>
  <xi:include href="config/asp.xml"/>
</chapter>