<?xml version="1.0" encoding="US-ASCII"?>
<!--
 |  Oracle Deutschland GmbH
 |
 |  This software is the confidential and proprietary information of
 |  Oracle Corporation. ("Confidential Information").  You shall not
 |  disclose such Confidential Information and shall use it only in
 |  accordance with the terms of the license agreement you entered
 |  into with Oracle.
 |
 |  ORACLE MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF THE
 |  SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 |  IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 |  PURPOSE, OR NON-INFRINGEMENT. ORACLE SHALL NOT BE LIABLE FOR ANY DAMAGES
 |  SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR DISTRIBUTING
 |  THIS SOFTWARE OR ITS DERIVATIVES.
 |
 |  Copyright &#169; 2021. All Rights reserved
-->
<chapter xmlns   ="http://docbook.org/ns/docbook"
         xmlns:xl="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xml:id  ="settings"
         xml:lang="en"
         version ="5.0">
  <title>Preferences</title>
  <section xml:id="settings-ide">
    <title>IDE Preferences</title>
     <para>
       These are the preferences specific to the product installation:
     </para>
     <warning>
       These preferences are not provided by the version control system due to they are heavily depended on your product intallation and the check out of the source code.
     </warning>
     <informaltable colsep="0">
       <tgroup cols="2">
         <colspec colname="c1" colwidth="12em"/>
         <colspec colname="c2" colwidth="*"/>
         <thead>
           <row>
             <entry>Property Name</entry>
             <entry>Property Value</entry>
           </row>
         </thead>
         <tbody>
           <row>
             <entry><literal>fmw.base</literal></entry>
             <entry><literal>/opt/oracle/product/ide/12.2.1</literal></entry>
           </row>
           <row>
             <entry><literal>fmw.base.ide</literal></entry>
             <entry><emphasis>${fmw.base}</emphasis><literal>/jdeveloper</literal></entry>
           </row>
           <row>
             <entry><literal>fmw.base.jrf</literal></entry>
             <entry><emphasis>${fmw.base}</emphasis><literal>/oracle_common/modules</literal></entry>
           </row>
           <row>
             <entry><literal>fmw.base.wls</literal></entry>
             <entry><emphasis>${fmw.base}</emphasis><literal>/wlserver</literal></entry>
           </row>
           <row>
             <entry><literal>fmw.base.soa</literal></entry>
             <entry><emphasis>${fmw.base}</emphasis><literal>/soa/soa/modules</literal></entry>
           </row>
         </tbody>
       </tgroup>
     </informaltable>
     <para>
       These are the preferences specific to the project and workspace folder structure:
     </para>
     <informaltable colsep="0">
       <tgroup cols="2">
         <colspec colname="c1" colwidth="12em"/>
         <colspec colname="c2" colwidth="*"/>
         <thead>
           <row>
             <entry>Property Name</entry>
             <entry>Property Value</entry>
           </row>
         </thead>
         <tbody>
           <row>
             <entry><literal>wks.base</literal></entry>
             <entry><literal>/Users/dsteding/Project</literal></entry>
           </row>
           <row>
             <entry><literal>ocs.base</literal></entry>
             <entry><literal>/Users/dsteding/Project</literal></entry>
           </row>
         </tbody>
       </tgroup>
     </informaltable>
  </section>
  <section xml:id="settings-wks">
    <title>Identity Workspace Preferences</title>
    <para>
      This build file references <link linkend="settings-ide">IDE Preferences</link>
    </para>
     <para>
       These are the preferences specific to the version control:
     </para>
     <informaltable colsep="0">
       <tgroup cols="2">
         <colspec colname="c1" colwidth="12em"/>
         <colspec colname="c2" colwidth="*"/>
         <thead>
           <row>
             <entry>Property Name</entry>
             <entry>Property Value</entry>
           </row>
         </thead>
         <tbody>
           <row>
             <entry><literal>application.release</literal></entry>
             <entry><literal>12.2.1.3</literal></entry>
           </row>
           <row>
             <entry><literal>application.version</literal></entry>
             <entry><literal>./${application}.version</literal></entry>
           </row>
           <row>
             <entry><literal>application.jar</literal></entry>
             <entry><literal>${application}.jar</literal></entry>
           </row>
         </tbody>
       </tgroup>
     </informaltable>
     <para>
       These are the preferences specific to the project installation:
     </para>
     <informaltable colsep="0">
       <tgroup cols="2">
         <colspec colname="c1" colwidth="12em"/>
         <colspec colname="c2" colwidth="*"/>
         <thead>
           <row>
             <entry>Property Name</entry>
             <entry>Property Value</entry>
           </row>
         </thead>
         <tbody>
           <row>
             <entry><literal>ocs.base.icf</literal></entry>
             <entry><literal>${ocs.home}/IdentityConnector</literal></entry>
           </row>
           <row>
             <entry><literal>ocs.base.oim</literal></entry>
             <entry><literal>${ocs.home}/IdentityManager</literal></entry>
           </row>
           <row>
             <entry><literal>wks.base.icf</literal></entry>
             <entry><literal>${wks.home}/IdentityManager</literal></entry>
           </row>
         </tbody>
       </tgroup>
     </informaltable>
  </section>
  <section xml:id="settings-icf">
    <title>Connector Workspace Preferences</title>
    <para>
      This build file references <link linkend="settings-wks">Identity Workspace Preferences</link>
    </para>
  </section>
</chapter>