@charset       "UTF-8";
@namespace af  "http://xmlns.oracle.com/adf/faces/rich";

/**
 ** ============================================================================
 ** == Alias Selectors
 ** ============================================================================
 */

/**
 ** A style class used as a decorative branding logo (e.g. on an af:spacer)
 ** placed inside of a branding bar item wrapper. This typically defines a
 ** background-image and dimensions of the image that the logo needs to consume.
 **
 ** Note: The style uses background image which will not render under high
 **       contrast mode in some browsers.
 */
.AFBrandingBarLogo {
  background-image:    url('/images/bka-logo.png');
  height:              40px;
  width:               400px;
}
/**
 ** A style class used on the root dom element of the component for hint as
 ** "buttons" of a branding bar item wrapper.
 */
.AFBrandingBar af|navigationPane-buttons {
  padding-top:         14px;
}