body {
	background:                   #eee;
}
#captcha {
  background:                   #ffffff;
  width:                        425px;
	left:                         50%;
	margin-left:                  -212.5px;
	margin-top:                   100px;
  padding:                      15px;
	border-radius:                10px;
	position:                     absolute;
	overflow:                     auto;
}
#captcha > p.title {
	color:                         #219589;
	margin:                        0;
  font-family:                   Oxygen,sans-serif;
  font-size:                     18px;
}
#captcha > .challenge-tile {
  width:                         99%;
  margin-bottom:                 22px !important;
}
#captcha > button.challenge-validate {
  cursor:                        pointer;
  color:                         #ffffff;
  background:                    #4c80bd;
  width:                         99%;
  margin:                        2px 0;
  padding:                       10px;
  border:                        none;
  border-radius:                 5px;
  font-family:                   Oxygen,sans-serif;
  font-size:                     16px;
  font-weight:                   400;
  font-weight:                   200;
  text-align:                    center;
  text-decoration:               none;
  display:                       inline-block;
}
