<?xml version="1.0" encoding="US-ASCII"?>
<oimplugins xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation = "http://www.oracle.com/schema/oim/plugin plugin.xsd">
  <!--
  =====================================================================
  == Event Handler
  =====================================================================
  -->
  <plugins  pluginpoint="oracle.iam.platform.kernel.spi.EventHandler">
  </plugins>
</oimplugins>