<?xml version="1.0" encoding="US-ASCII"?>
<web-app xmlns             ="http://java.sun.com/xml/ns/javaee" version="3.0"
         xmlns:xsi         ="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--         
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>oracle.iam.platform.http.CrossOrigin</filter-class>
  </filter>
-->  
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <security-role>
    <role-name>administrator</role-name>
  </security-role>
  <security-role>
    <role-name>viewer</role-name>
  </security-role>
</web-app>