<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>Proxy-IP</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>Proxy-Port</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>STS-URL</param-name>
		<param-value>https://iad.iam.services.psp.extrapol.de</param-value>
	</context-param>
	<context-param>
		<param-name>STS-Auth-URL-Suffix</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>STS-Token-Exchange-URL-Suffix</param-name>
		<param-value>/oauth2/rest/token/exchange</param-value>
	</context-param>
	<context-param>
		<param-name>STS-Userinfo-URL-Suffix</param-name>
		<param-value>/oauth2/rest/userprofile</param-value>
	</context-param>
	<context-param>
		<param-name>STS-Logout-URL-Suffix</param-name>
		<param-value>/oam/server/logout</param-value>
	</context-param>
	<context-param>
		<param-name>STS-Domain</param-name>
		<param-value>SecureDomain2</param-value>
	</context-param>
	<context-param>
		<param-name>Client-ID</param-name>
		<param-value>OIDC_TEST_CLIENT</param-value>
	</context-param>
	<context-param>
		<param-name>Client-Secret</param-name>
		<param-value>TestMe</param-value>
	</context-param>
	<context-param>
		<param-name>TN-IDPs</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>Required-Scope</param-name>
		<param-value>OIDC_TEST_RESOURCE.profile</param-value>
	</context-param>
	<context-param>
		<param-name>Default-Scope</param-name>
		<param-value>openid OIDC_TEST_RESOURCE.profile</param-value>
	</context-param>
	<context-param>
		<param-name>Webservice-URL</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>Webservice-Scope</param-name>
		<param-value>JwtExchangingWebservice.Main</param-value>
	</context-param>
	<context-param>
		<param-name>Scope-Claim</param-name>
		<param-value>scope</param-value>
	</context-param>
	<context-param>
		<param-name>Webapp-Links</param-name>
		<param-value></param-value>
	</context-param>
	<servlet>
		<servlet-name>HttpServlet</servlet-name>
		<servlet-class>javax.servlet.http.HttpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<jsp-file>/WEB-INF/index.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LogoutStsDone</servlet-name>
		<jsp-file>/WEB-INF/logout-sts-done.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutStsDone</servlet-name>
		<url-pattern>/logout-sts-done</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>de.itk.oidcdemo.demowebanwendung.HttpRequestException</exception-type>
		<location>/WEB-INF/HttpRequestErrorHandler.jsp</location>
	</error-page>
	<error-page>
		<exception-type>de.itk.auth.client.oidc.InitException</exception-type>
		<location>/WEB-INF/InitErrorHandler.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/DefaultErrorHandler.jsp</location>
	</error-page>
</web-app>
