<?xml version="1.0" encoding="US-ASCII"?>
<!--
 |  Oracle Deutschland GmbH
 |
 |  This software is the confidential and proprietary information of
 |  Oracle Corporation. ("Confidential Information").  You shall not
 |  disclose such Confidential Information and shall use it only in
 |  accordance with the terms of the license agreement you entered
 |  into with Oracle.
 |
 |  ORACLE MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF THE
 |  SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 |  IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 |  PURPOSE, OR NON-INFRINGEMENT. ORACLE SHALL NOT BE LIABLE FOR ANY DAMAGES
 |  SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR DISTRIBUTING
 |  THIS SOFTWARE OR ITS DERIVATIVES.
 |
 |  Copyright &#169; 2022. All Rights reserved
-->
<section xmlns   ="http://docbook.org/ns/docbook"
         xmlns:xl="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xml:id  ="endpoint-config"
         xml:lang="en"
         version ="5.0">
  <title>Service Provider Config</title>
  <para>
    You can use the <literal>/ServiceProviderConfig</literal> endpoint for <literal>GET</literal> requests to view additional information about the IGS SCIM Provisioning implementation.
    The <literal>/ServiceProviderConfig</literal> endpoint is read only.
  </para>
  <para>
    In this endpoint the service provider defines specifications compliance and the types of authentication they support to the API (most commonly used is basic authentication, Bearer token authentication and Oauth 2.0authentication).
    Authentication for this configuration endpoint is not required, unlike the other endpoints.
  </para>
  <section xml:id="endpoint-config-not">
    <title>Not supported</title>
    <para>
      The IGS SCIM Provisioning implementation does not support the following aspects of this API operation.
    </para>
    <itemizedlist mark='bullet'>
      <listitem>
        <para>
          None
        </para>
      </listitem>
    </itemizedlist>
  </section>
  <section xml:id="endpoint-config-con">
    <title>Constraints</title>
    <para>
      The IGS SCIM Provisioning implementation has the following constraints for this API operation.
    </para>
    <itemizedlist mark='bullet'>
      <listitem>
        <para>
          None
        </para>
      </listitem>
    </itemizedlist>
  </section>
  <section xml:id="endpoint-config-err">
    <title>Errors</title>
    <para>
      The following IGS SCIM Provisioning implementation errors are common for this API operation.
    </para>
    <table>
      <thead>
        <tr>
          <td>Error</td>
          <td>Condition</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><emphasis role="strong">NotAllowedException</emphasis></td>
          <td>Operation is not permitted based on the supplied authorization.</td>
        </tr>
        <tr>
          <td><emphasis role="strong">ServerErrorException</emphasis></td>
          <td>Service failed to process the request.</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section xml:id="endpoint-config-exp">
    <title>Examples</title>
    <para>
      Following are example requests and responses for this API operation.
    </para>
    <section xml:id="endpoint-config-req">
      <title>Example  Request</title>
    </section>
    <section xml:id="endpoint-config-rsp">
      <title>Example Response</title>
    </section>
  </section>
</section>