<html ir="ltr" lang="en" ng-app="inventoryModule">
  <head>
    <meta charset="utf-8">
    <meta name="robots"                content="noindex, nofollow">
    <meta http-equiv="expires"         content="0">
    <meta http-equiv="pragma"          content="no-cache">
    <meta http-equiv="cache-control"   content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!-- Document Title                                 -->
    <!-- ===============================================-->
    <title>Inventory Application</title>
    <!-- ===============================================-->
    <!-- Favicons                                       -->
    <!-- ===============================================-->
    <link rel="icon"             type="image/png" sizes="32x32"   href="resources/img/favicon-32x32.png">
    <link rel="icon"             type="image/png" sizes="16x16"   href="resources/img/favicon-16x16.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="resources/img/favicon-touch.png">
    <link rel="shortcut icon"    type="image/x-icon" href="resources/img/favicon.ico">
    <!-- ===============================================-->
    <!-- Stylesheets                                    -->
    <!-- ===============================================-->
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
  </head>
  <body>
    <!--
    <p ng-controller="userProfileController">  Welcome <b>{{firstName}} {{lastName}}</b>, check out our inventory list</p>
    -->
    <div style="width:600px" width="600" class="table-responsive" ng-controller="inventoryController">
      <form name="orderForm">
        <table class="table table-striped" style="width:600px" width="600">
          <thead>
            <tr>
              <th width="15%">Id</th>
              <th width="15%">Name</th>
              <th width="40%">Description</th>
              <th width="15%">Price</th>
              <th width="15%"> </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="part in parts">
              <td width="15%">{{part.uniqueid}}</td>
              <td width="15%">{{part.name}}</td>
              <td width="40%">{{part.desc}}</td>
              <td width="15%">{{part.price}}</td>
              <td width="15%" valign="top">
                <!-- <form name="orderForm"> -->
                <input type="hidden" name="partid" value="{{part.uniqueid}}" ng-model="part.uniqueid">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="orderPart(part)" ng-disabled="orderForm.$invalid">Order</button>
                <!-- </form> -->
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <h4 align="center" ng-if="submitResult">
        <span class="label label-success">
          {{submitResult}}
        </span>
      </h4>
      <a href="http://sso.cinnamonstar.net:1080/oam/server/logout?end_url=http://sso.cinnamonstar.net:1080/ecc/material/signout">Logout</a>
    </div>
    <script type="text/javascript" src="resources/lib/jquery.min.js"></script>
    <script type="text/javascript" src="resources/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/lib/angular.min.js"></script>
    <script type="text/javascript" src="resources/lib/angular-cookies.js"></script>
    <script type="text/javascript" src="resources/lib/inventory.js"></script>
  </body>
</html>
