html {
  font-size:                     14px;
}
body {
  color:                         #333333;
  background-color:              #f1f1f1;
  margin:                        0;
  font-family:                   'Open Sans', sans-serif;
  overflow-x:                    hidden;
}
body.expanded-mode {
  overflow-y:                    hidden;
}
body.empty-layout .theme-config, body.empty-layout .goto-top {
  display:                       none !important;
}
body.fixed-layout .page-sidebar {
  top:                           56px;
  bottom:                        0;
  margin-top:                    0;
  padding-bottom:                100px;
  position:                      fixed;
}
body.boxed-layout {
  max-width:                     1200px;
  margin:                        0 auto;
}
body.boxed-layout.fixed-navbar .header, body.boxed-layout.fixed-layout .header {
  max-width:                     1200px;
  margin:                        0 auto;
}
body.fixed-navbar .header, body.fixed-layout .header {
  top:                           0;
  left:                          0;
  bottom:                        0;
  right:                         0;
  z-index:                       1002;
  position:                      fixed;
}
body.fixed-navbar .content-wrapper, body.fixed-layout .content-wrapper {
  padding-top:                   56px;
}
/*************************
  BOOTSTRAP override
 ************************/
dl, ol, ul {
  margin-top:                    0;
  margin-bottom:                 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display:                       block;
}
textarea {
  font-family:                   sans-serif;
}
.nav {
  margin-bottom:                 0;
  padding-left:                  0;
  list-style:                    none;
  display:                       flex;
}
.nav-link {
  padding:                       0.5rem 1rem;
  display:                       block;
}
.nav-link:hover, .nav-link:focus {
  text-decoration:               none;
}
.nav-link.disabled {
  cursor:                        default;
  color:                         #6c757d;
  pointer-events:                none;
}
.container-fluid {
  padding:                       0;
}
.form-control {
  border-radius:                 2px;
  box-shadow:                    none !important;
}
.form-control:focus {
  border-color:                  #23b7e5;
}
/*************************
  BOOTSTRAP get backs
 ************************/
.caret {
  width:                         0;
  height:                        0;
  margin-left:                   2px;
  border-top:                    4px dashed;
  border-top:                    4px solid;
  border-right:                  4px solid transparent;
  border-left:                   4px solid transparent;
  vertical-align:                middle;
  display:                       inline-block;
}
/*************************
  P20/20
 ************************/
.img-circle {
  border-radius:                 50%;
}
.flexbox {
  align-items:                   center;
  display:                       flex;
  justify-content:               space-between;
}
.flex-1 {
  flex:                          1;
}
.footer-todelete {
  background-color:              #ffffff;
  width:                         100%;
  left:                          0;
  bottom:                        0;
  padding:                       10px 15px;
  align-items:                   center;
  display:                       flex;
  position:                      absolute;
  justify-content:               space-between;
}
.header {
  background-color:              #ffffff;
  height:                        56px;
  margin:                        0;
  border:                        0;
  border-radius:                 0;
  box-shadow:                    0 2px 4px rgba(0, 0, 0, 0.08);
  display:                       flex;
  position:                      relative;
}
.header .page-brand {
  color:                         #ffffff;
  background-color:              #ffffff;
  width:                         210px;
  padding:                       0;
  font-size:                     20px;
  font-weight:                   500;
  align-items:                   center;
  display:                       inline-flex;
  overflow:                      hidden;
  transition:                    all .2s ease-in-out;
}
.header .page-brand .brand {
  color:                         #01112b;
  margin-top:                    3px;
  display:                       inline-flex;
}
.header .page-brand .brand-tip {
  color:                         #0177b7;
}
.header .navbar-toolbar {
  align-items:                   center;
}
.header .navbar-toolbar > li > a {
  color:                         #6d7c85;
  padding:                       15px;
  align-items:                   center;
  display:                       flex;
}
.header .sidebar-toggler {
   font-size:                    18px;
}
.header a.nav-link.sidebar-toggler {
   padding:                      0;
}
.page-wrapper {
  width:                         100%;
  min-height:                    100%;
  position:                      relative;
  overflow:                      hidden;
}
.page-sidebar {
  background-color:              #ffffff;
  width:                         210px;
  height:                        100%;
  top:                           0;
  margin-top:                    56px;
  position:                      absolute;
  z-index:                       1001;
  transition:                    all .2s ease-in-out;
}
.page-sidebar .menu-header {
  padding:                       12px 15px;
  font-size:                     1em;
  overflow:                      hidden;
}
.page-sidebar .user-panel {
  cursor:                        pointer;
  padding-top:                   1em;
  padding-left:                  10px;
  padding-bottom:                2em;
  padding-right:                 10px;
}
.page-sidebar .user-panel .user-info {
  color:                         #01112b;
  padding-left:                  1rem;
}
.page-sidebar .user-panel .user-info small {
  color:                         #0177b7;
}
.page-sidebar .user-panel .user-avatar {
   width:                        45px;
}
.page-sidebar .user-menu {
  margin-top:                    -20px;
  margin-bottom:                 30px;
  padding-bottom:                10px;
  display:                       none;
}
.page-sidebar ul {
  margin:                        0;
  padding:                       0;
  list-style:                    none;
}
.page-sidebar ul li {
   display:                      block;
   position:                     relative;
}
.page-sidebar ul li a {
  padding:                       10px 16px;
  display:                       block;
  position:                      relative;
}
.page-header {
  padding-top:                   1em;
  padding-bottom:                1em;
}
.page-header .page-title {
  font-size:                     26px;
  margin:                        0 1em 0 0;
}
.sidebar-menu li {
  outline:                       0;
}
.sidebar-menu > li a {
  color:                         #01112b;
  white-space:                   nowrap;
  overflow:                      hidden;
}
.sidebar-menu > li a:hover, .sidebar-menu > li a:focus {
  color:                         #01112b;
  background-color:              #0177b7;
}
.sidebar-menu > li.active {
  background-color:              #01112b;
}
.sidebar-menu li a.active {
  color:                         #0177b7;
}
.sidebar-menu li a:hover {
  color:                         #ffffff;
}
.sidebar-menu li .sidebar-item-icon {
  width:                         45px;
  font-size:                     32px;
  line-height:                   30px;
  display:                       block;
  float:                         left;
}
.sidebar-menu li .nav-label {
  min-height:                    30px;
  padding-top:                   0.25rem;
  padding-left:                  1rem;
  align-items:                   center;
  display:                       inline-flex;
}
.content-wrapper {
  background-color:              #f1f1f1;
  margin-left:                   210px;
  padding:                       70px 22px 0px 15px;
  position:                      relative;
  transition:                    margin .2s ease-in-out;
}
.page-section {
  color:                         #0177b7;   
  font-size:                     large;
}
.jumbo {
  background-color:              transparent;
  min-height:                    512px;
  border:                        0;
}
.jumbo-body {
  padding:                       0;
  border:                        0;
  border-radius:                 27.5px;
  box-shadow:                    0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow:                      hidden;
}
.jumbo-body-header {
  color:                         #f35b1c;
}
.ruler {
  background-color:              #f35b1c;
  width:                         4rem;
  height:                        .25rem;
}
.jumbo-body-img {
    width:                       100%;
    height:                      100%;
    border-radius:               0;
    position:                    absolute;
    object-fit:                  cover;
}
p.message {
  color:                         #000;
  margin-top:                    1rem;
  margin-bottom:                 2rem;
  font-size:                     .75rem;
  font-weight:                   normal;
}
.jumbo-body form {
  max-width:                     326px;
}
.jumbo-body .form-control {
    min-height:                  45px;
    margin-bottom:               20px;
    padding:                     15px 25px;
    border:                      1px solid #d5dae2;
    font-size:                   13px;
    font-weight:                 normal;
    line-height:                 15;
}
.jumbo-body .submit-btn {
  color:                         rgb(1,17,43);
  background-color:              rgb(1,119,183);
  margin-bottom:                 24px;
  padding:                       13px 20px 12px;
  border-radius:                 4px;
  font-size:                     17px;
  font-weight:                   bold;
  line-height:                   20px;
}
.jumbo-body .submit-btn:hover {
  color:                         rgb(1,17,43);
  background-color:              transparent;
  border:                        1px solid rgb(1,17,43);
}
.jumbo-body .forgot-password-link {
  font-size:                     14px;
  color:                         rgb(1,119,183);
  margin-bottom:                 12px;
}
.jumbo-body-footer-text {
  color:                         rgb(1,17,43);
  margin-bottom:                 60px;
  font-size:                     16px;
}
.jumbo-body-footer-nav {
  bottom:                        1.25rem;
  position:                      absolute;
}
.jumbo-body-footer-nav a {
  color:                         #919aa3;
  font-size:                     14px;
}
.jumbo-body .back-btn {
  color:                         rgb(1,17,43);
  background-color:              rgb(1,119,183);
  margin-bottom:                 24px;
  padding:                       13px 20px 12px;
  border-radius:                 4px;
  font-size:                     17px;
  font-weight:                   bold;
  line-height:                   20px;
}
.jumbo-body .back-btn:hover {
  color:                         rgb(1,17,43);
  background-color:              transparent;
  border:                        1px solid rgb(1,17,43);
}
.fade-in-op {
   animation:                    fade-in-op 2s;
}
.fade-in-up {
   animation:                    fade-in-up .5s;
}
/*************************
  METIS Menu
 ************************/
.metismenu .arrow {
  float:                         right;
  line-height:                   1.42857;
}
*[dir="rtl"] .metismenu .arrow {
  float:                         left;
}
.metismenu .collapse {
  display:                       none;
}
.metismenu .collapse.in {
  display:                       block;
}
.metismenu .collapsing {
  height:                        0;
  position:                      relative;
  overflow:                      hidden;
  transition-timing-function:    ease;
  transition-duration:           .35s;
  transition-property:           height, visibility;
}
/*************************
  MINI Sidebar
 ************************/
body:not(.fixed-layout).sidebar-mini .content-wrapper {
  margin-left:                   60px;
}
body:not(.fixed-layout).sidebar-mini .page-sidebar {
  width:                         60px;
}
body:not(.fixed-layout).sidebar-mini .page-brand {
  width:                         60px;
}
body:not(.fixed-layout).sidebar-mini .brand {
  display:                       none;
}
body:not(.fixed-layout).sidebar-mini .brand-mini {
  display:                       block;
}
body:not(.fixed-layout).sidebar-mini .sidebar-menu li.heading {
  display:                       none;
}
body:not(.fixed-layout).sidebar-mini .sidebar-menu li .sidebar-item-icon {
  font-size:                     32px;
  line-height:                   30px !important;
}
body:not(.fixed-layout).sidebar-mini .user-panel {
  padding-top:                   1em;
  padding-left:                  10px;
  padding-bottom:                2em;
  padding-right:                 10px;
}
body:not(.fixed-layout).sidebar-mini .user-panel .user-info {
  display:                      none;
}
body.fixed-layout.sidebar-mini .page-sidebar, body.fixed-layout.sidebar-mini .page-brand {
  margin-left:                  -205px;
  visibility:                   hidden;
}
body.fixed-layout.sidebar-mini .content-wrapper {
  margin-left:                  0;
}
@keyframes fade-in-op {
  from {
    opacity:                    0;
  }
   to  {
     opacity:                   1;
  }
}