<?xml version="1.0" encoding="US-ASCII"?>
<!--
 |  Oracle Deutschland GmbH
 |
 |  This software is the confidential and proprietary information of
 |  Oracle Corporation. ("Confidential Information").  You shall not
 |  disclose such Confidential Information and shall use it only in
 |  accordance with the terms of the license agreement you entered
 |  into with Oracle.
 |
 |  ORACLE MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF THE
 |  SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 |  IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 |  PURPOSE, OR NON-INFRINGEMENT. ORACLE SHALL NOT BE LIABLE FOR ANY DAMAGES
 |  SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR DISTRIBUTING
 |  THIS SOFTWARE OR ITS DERIVATIVES.
 |
 |  Copyright &#169; 2015. All Rights reserved
-->
<chapter xmlns   ="http://docbook.org/ns/docbook"
         xmlns:xl="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xml:id  ="config"
         xml:lang="de"
         version ="5.0">
  <title>Konfiguration</title>
    <table colsep="0">
      <tgroup cols="2">
        <colspec colname="c1" colwidth="10em"/>
        <colspec colname="c2" colwidth="*"/>
        <thead>
          <row>
            <entry>Parameter</entry>
            <entry>Bedeutung</entry>
          </row>
        </thead>
        <tbody>
          <row>
            <entry>IT Resource Source</entry>
            <entry>
              <para>The IT Resource used to establish the connection to the Source System.</para>
              <para>Example value: <literal>VMOIM12c</literal></para>
            </entry>
          </row>
          <row>
            <entry>IT Resource Target</entry>
            <entry>
              <para>The IT Resource used to establish the connection to the Target System.</para>
              <para>Example value: <literal>VMOIM12c-target</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Entitlement Source</entry>
            <entry>
              <para>Specifies the Entitlement search base to retrieve entries from the Source system.</para>
              <para>Example value: <literal>ou=Funktionsrechte,ou=Anwendung3,ou=P20-Anwendungen,ou=P20,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Organization Source</entry>
            <entry>
              <para>Specifies the Organization search base to retrieve entries from the Source system.</para>
              <para>Example value: <literal>ou=TN-Orgs,ou=P20,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Role Source</entry>
            <entry>
              <para>Specifies the Role search base to retrieve entries from the Source system.</para>
              <para>Example value: <literal>ou=Rollen,ou=Anwendung3,ou=P20-Anwendungen,ou=P20,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Special Role Source</entry>
            <entry>
              <para>Specifies the Special Role search base to retrieve entries from the Source system.</para>
              <para>Example value: <literal>ou=Marker,ou=Rollen,ou=Anwendung3,ou=P20-Anwendungen,ou=P20,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Intermediate Source</entry>
            <entry>
              <para>Specifies the Intermediate search base to retrieve entries from the Target system.</para>
              <para>Example value: <literal>ou=Intermediate,ou=Anwendung3,ou=P20-Anwendungen,ou=P20,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Entitlement Target</entry>
            <entry>
              <para>Specifies the entitlement search base to retrieve entries from the Target system.</para>
              <para>Example value: OU=Funktionsrechte,OU=PLX,OU=Applikationen,OU=TN1-PLX,dc=example,dc=org</para>
            </entry>
          </row>
          <row>
            <entry>Search Base Organization Target</entry>
            <entry>
              <para>Specifies the Organization search base to retrieve entries from the Target system.</para>
              <para>Example value: <literal>OU=Poliks Test,OU=TN1-PLX,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Role Target</entry>
            <entry>
              <para>Specifies the Role search base to retrieve entries from the Target system.</para>
              <para>Example value: <literal>OU=PLX,OU=Applikationen,OU=TN1-PLX,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Search Base Special Role Target</entry>
            <entry>
              <para>Specifies the Special Role search base to retrieve entries from the Source system.</para>
              <para>Example value: <literal>OU=Marker,OU=PLX,OU=Applikationen,OU=TN1-PLX,dc=example,dc=org</literal></para>
            </entry>
          </row>
          <row>
            <entry>Group Descriptor</entry>
            <entry>
              <para>MDS path to Group descriptor, holding attribute mapping between source and target group object classes.</para>
              <para>Example value: <literal>/metadata/bka-features-synchronization/sync-group-descriptor.xml</literal></para>
            </entry>
          </row>
          <row>
            <entry>Organizational Unit Descriptor</entry>
            <entry>
              <para>MDS path to OrganizationalUnit descriptor, holding attribute mapping between source and target OrganizationalUnit object classes.</para>
              <para>Example value: <literal>/metadata/bka-features-synchronization/sync-ou-descriptor.xml</literal></para>
            </entry>
          </row>
          <row>
            <entry>Batch Size</entry>
            <entry>
              <para>Specifies the size of a block read from the reading source.</para>
              <para>Example value: <literal>100</literal></para>
            </entry>
          </row>
        </tbody>
      </tgroup>
    </table>
</chapter>