*, body{
  font-family:               sans-serif;
}
.background-gray {
  background-color:          #eeeeee;
}
.margin-top {
  margin-top:                3rem;
}
.navbar {
  background:                transparent;
  -webkit-box-shadow:        none;
          box-shadow:        none;
}
.navbar-brand {
  display:                   inline-block;
  padding:                   0;
  font-weight:               900;
  line-height:               1;
  white-space:               nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration:           none;
}
.form-canvas {
  background-color:          rgba(255,255,255,0.8);
  max-width:                 70%;
  margin:                    0 auto;
  padding:                   1.5rem;
  border:                    1px solid #33b5e5;
  border-radius:             8px;
}
.form-canvas hr {
  color:                     rgba(74,164,180,0.4);
  background-color:          rgba(74,164,180,0.4);
  height:                    1px;
  border:                    none;
}
#header-bg {
  background-color:          #ffffff;
}
#header-bg-top {
  color:                     #ffffff;
  background-color:          #004b76;
  height:                    3rem;
}
#header-bg-top h1, #header-bg-top h2, #header-bg-top h3, #header-bg-top h4, #header-bg-top h5, #header-bg-top h6 {
  font-size:                 1.75rem;
  line-height:               3rem;
  white-space:               nowrap;
}
#header-bg-tagline {
  margin-left:               65px;
}
.image-avatar {
  width:                     64px;
  height:                    100%;
}
.idp-symbol {
  width:                     48px;
  text-align:                center;
}
.list-group-item:hover {
  background-color:          #33b5e5 !important;
}
.list-group-item:hover a:hover {
  color:                     #212121 !important;
}
/*
Medium devices landscape:
  iPad
  Kindle Fire HDX
*/
@media screen and (max-width: 1024px) {
  .btn {
    padding:                 .75rem 1.5rem;
  }
  .md-form .prefix {
    font-size:               1.5rem;
  }
  #header-bg-top {
    height:                  2rem;
  }
  #header-bg-top h1, #header-bg-top h2, #header-bg-top h3, #header-bg-top h4, #header-bg-top h5, #header-bg-top h6 {
    font-size:               1.5rem;
    line-height:             2rem;
  }
  .image-avatar {
    width:                   48px;
  }
  .idp-symbol {
    height:                  2rem;
  }
}
/*
Small devices landscape:
  iPad
  iPhone X/XS
  iPhone 6/7/8
  iPhone 6/7/8 Plus
  Galaxy S9/S9+
*/
@media screen and (max-width: 812px) {
  .btn {
    padding:                 .5rem .75rem;
  }
  .md-form .prefix {
    font-size:               1.5rem;
  }
  #header-bg-top {
    height:                  2rem;
  }
  #header-bg-top h1, #header-bg-top h2, #header-bg-top h3, #header-bg-top h4, #header-bg-top h5, #header-bg-top h6 {
    font-size:               1.5rem;
    line-height:             2rem;
  }
  .image-avatar {
    width:                   48px;
  }
  .idp-symbol {
    height:                  2rem;
  }
}
/*
Small devices portrait:
  iPhone X/XS
  iPhone 6/7/8
  iPhone 6/7/8 Plus
  Galaxy S9/S9+
*/
@media screen and (max-width: 414px) {
  *, *::before, *::after {
    -webkit-box-sizing:      initial;
       -mos-box-sizing:      initial;
            box-sizing:      initial;
  }
  .form-canvas .justify-content-between h3 {
    font-size:               1.25rem;
  }
  .container, .col-sm-auto {
    padding-left:            0px;
    padding-right:           0px;
  }
  .btn {
    padding:                 .5rem .5rem;
  }
  .md-form .prefix {
    font-size:               1.25rem;
  }
  .margin-top {
    margin-top:              1.5rem;
  }
  #header-bg-top {
    height:                  2rem;
  }
  #header-bg-top h1, #header-bg-top h2, #header-bg-top h3, #header-bg-top h4, #header-bg-top h5, #header-bg-top h6 {
    font-size:               1.25rem;
    line-height:             2rem;
  }
  .image-avatar {
    width:                   48px;
  }
  .idp-symbol {
    height:                  2rem;
  }
}