<?xml version="1.0" encoding="US-ASCII"?>
<oimplugins xmlns:xsi         ="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.oracle.com/schema/oim/plugin plugin.xsd">
  <!--
  =====================================================================
  == Notification Event Resolver
  =====================================================================
  -->
  <plugins pluginpoint="oracle.iam.notification.impl.NotificationEventResolver">
    <plugin name       ="AccountProvisionnigResolver"
            version    ="1.0.0.0"
            pluginclass="bka.iam.identity.zero.event.NotificationResolver"/>
  </plugins>
</oimplugins>