<?xml version="1.0" encoding="US-ASCII"?>
<web-app xmlns             ="http://java.sun.com/xml/ns/javaee" version="3.0"
         xmlns:xsi         ="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <mime-mapping>
    <extension>png</extension>
    <mime-type>image/png</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>application/javascript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-woff</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>consent</servlet-name>
    <jsp-file>/WEB-INF/pages/consent.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>silent</servlet-name>
    <jsp-file>/WEB-INF/pages/silent.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/WEB-INF/pages/error.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>failure</servlet-name>
    <jsp-file>/WEB-INF/pages/failure.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>signin</servlet-name>
    <jsp-file>/WEB-INF/pages/signin.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>signout</servlet-name>
    <jsp-file>/WEB-INF/pages/signout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>consent</servlet-name>
    <url-pattern>/consent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>silent</servlet-name>
    <url-pattern>/silent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>failure</servlet-name>
    <url-pattern>/failure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/signin</welcome-file>
  </welcome-file-list>
</web-app>