<Plugin type="Authentication">
  <!--
  =====================================================================
  == Metadata
  =====================================================================
  -->
  <author>uid=weblogic</author>
  <email>weblogic@oracle.com</email>
  <creationDate></creationDate>
  <description></description>
  <!--
  =====================================================================
  == Configuration
  =====================================================================
  -->
  <configuration>
  </configuration>
</Plugin>
