<?xml version="1.0" encoding="US-ASCII"?>
<oimplugins xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation = "http://www.oracle.com/schema/oim/plugin plugin.xsd">
  <!--
  =====================================================================
  == Event abd Validation Handler
  =====================================================================
  -->
  <plugins  pluginpoint="oracle.iam.platform.kernel.spi.EventHandler">
    <plugin name       ="AnonymousIdentifierProcessor"
            version    ="1.0.0.0"
            pluginclass="bka.iam.identity.event.pid.PostProcessor">
      <metadata name="igs.pid.endpoint">
        <value>IM.PID Endpoint</value>
      </metadata>
      <metadata name="igs.pid.prefix">
        <value>p</value>
      </metadata>
      <metadata name="igs.pid.profile">
        <value>anonymized</value>
      </metadata>
    </plugin>
  </plugins>
</oimplugins>